<section class="banner hero-banner">
	<span class="overlay">&nbsp;</span>
	<div class="img bg lazy" style="background-image: url({{settings.slideshow_1}}"></div>
	<div class="des">
		<div class="inner">
			  <h1>{{settings.tieudebanner}}</h1>
         <p>{{settings.noidungbanner}}</p>
			<a href="{{settings.linkcuanut}}" class="btn btn-link btn-white">{{settings.tieudenut}}</a>
		</div>
	</div>
	<div class="scroll-downs">
		<div class="mousey">
			<div class="scroller"></div>
		</div>
	</div>
</section>
