<section class="banner hero-banner">
	<span class="overlay">&nbsp;</span>
	<div class="img bg lazy" style="background-image: url({{settings.en_slideshow_1}}"></div>
	<div class="des">
		<div class="inner">
			  <h1>{{settings.en_tieudebanner}}</h1>
         <p>{{settings.en_noidungbanner}}</p>
			<a href="{{settings.en_linkcuanut}}" class="btn btn-link btn-white">{{settings.en_tieudenut}}</a>
		</div>
	</div>
	<div class="scroll-downs">
		<div class="mousey">
			<div class="scroller"></div>
		</div>
	</div>
</section>
