
{%if settings.en_hienthiiso%}
	<section class="panel panel-iso">
		<div class="inner">
			<div class="img bg img-dk" style="background-image: url({{settings.en_noidungisonutlinkgb}});"></div>
			<div class="img bg img-mb" style="background-image: url({{settings.en_noidungisonutlinkgb}});"></div>
			<span class="overlay">&nbsp;</span>
			<div class="list">
				<div class="item">
					<h3>{{settings.en_heading_collection_two}}</h3>
				</div>
				<div class="item">
					<p>{{settings.en_noidungiso}}</p>
				</div>
				<div class="item"> <a href="{{settings.en_noidungisonutlink}}" target="_blank" class="btn btn-link btn-green">{{settings.en_noidungisonut}}</a></div>
			</div>
		</div>
	</section>
{%endif%}