
{%if settings.ar_hienthiiso%}
	<section class="panel panel-iso">
		<div class="inner">
			<div class="img bg img-dk" style="background-image: url({{settings.ar_noidungisonutlinkgb}});"></div>
			<div class="img bg img-mb" style="background-image: url({{settings.ar_noidungisonutlinkgb}});"></div>
			<span class="overlay">&nbsp;</span>
			<div class="list">
				<div class="item">
					<h3>{{settings.ar_heading_collection_two}}</h3>
				</div>
				<div class="item">
					<p>{{settings.ar_noidungiso}}</p>
				</div>
				<div class="item"> <a href="{{settings.ar_noidungisonutlink}}" target="_blank" class="btn btn-link btn-green">{{settings.ar_noidungisonut}}</a></div>
			</div>
		</div>
	</section>
{%endif%}