<div class="site-menu menu-mobile" id="siteNav-menu">
	<div class="menu-mobile--wrap">
		<div class="menu-mobile--bottom">
			<nav id="mp-menu" class="mp-menu mp-cover" >
				<div class="mp-level" data-level="1">
					<div class="mplus-menu">
						<ul class="mm-panel vertical-menu-list list-root">
							{%- for link in linklists[settings.ar_mainmenu_linkmobile].links -%}
							{%- if linklists[link.handle] == empty -%}
							<li class="{%if link.active%}active{%endif%}">
								<a class="parent" href="{{link.url}}">{{link.title}}</a>
							</li>
							{%- else -%}
							<li class="{%if link.active%}active{%endif%}" data-menu-root="{{ link.id }}">
								<a class="parent" href="{{link.url}}">{{link.title}}
									<i>
										<svg class="icon icon--arrow-right" viewBox="0 0 8 12" role="presentation">
											<path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path>
										</svg>
									</i>
								</a>
							</li>
							{%- endif -%}
							{%- endfor -%}
							<li>		<a class="location" href="{{settings.ar_info_headerphonecanhlogolink}}" target="_blank"> 
								<span class="icn icn-location">&nbsp;</span> <span class="txt">{{settings.ar_info_headerphonecanhlogo}}</span> </a>
							</li>
							<li class="mm-divider">
								<div class="mobile-menu__section mobile-menu__section--loose">
									<p class="mobile-menu__section-title">هل تحتاج إلى دعم?</p>
									{%- if settings.ar_hottline_mb != '' -%}
									<div class="mobile-menu__help-wrapper">
										<svg class="icon icon--bi-phone" viewBox="0 0 24 24" role="presentation">
											<g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
												<path d="M17 15l-3 3-8-8 3-3-5-5-3 3c0 9.941 8.059 18 18 18l3-3-5-5z" stroke="#1e2d7d"></path>
												<path d="M14 1c4.971 0 9 4.029 9 9m-9-5c2.761 0 5 2.239 5 5" stroke="#00badb"></path>
											</g>
										</svg>
										<a href="tel:{{ settings.ar_hottline_mb | replace: '.'}}" rel="nofollow">اتصل: {{ settings.ar_hottline_mb }}</a>
									</div>
									{%- endif -%}
									{%- if settings.ar_email_mb != '' -%}
									<div class="mobile-menu__help-wrapper">
										<svg class="icon icon--bi-email" viewBox="0 0 22 22" role="presentation">
											<g fill="none" fill-rule="evenodd">
												<path stroke="#00badb" d="M.916667 10.08333367l3.66666667-2.65833334v4.65849997zm20.1666667 0L17.416667 7.42500033v4.65849997z"></path>
												<path stroke="#1e2d7d" stroke-width="2" d="M4.58333367 7.42500033L.916667 10.08333367V21.0833337h20.1666667V10.08333367L17.416667 7.42500033"></path>
												<path stroke="#1e2d7d" stroke-width="2" d="M4.58333367 12.1000003V.916667H17.416667v11.1833333m-16.5-2.01666663L21.0833337 21.0833337m0-11.00000003L11.0000003 15.5833337"></path>
												<path d="M8.25000033 5.50000033h5.49999997M8.25000033 9.166667h5.49999997" stroke="#00badb" stroke-width="2" stroke-linecap="square"></path>
											</g>
										</svg>
										<a href="mailto:{{ settings.ar_email_mb }}" rel="nofollow">{{ settings.ar_email_mb }}</a>
									</div>
									{%- endif -%}
								</div>
							</li>
						</ul>
						{%- for link in linklists[settings.ar_mainmenu_linkmobile].links -%}
						{%- if linklists[link.handle] == empty -%}
						{%- else -%}
						<ul class="mm-panel list-child" id="{{link.id}}">
							<li><a href="javascript:;"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a></li>
							<li><a href="{{link.url}}"><b>اظهار الكل "{{link.title}}"</b></a></li>							
							{%- for l in linklists[link.handle].links -%}
							{%- if linklists[l.handle] == empty -%}
							<li class="{%if l.active%}active{%endif%}">
								<a href="{{l.url}}" ><span>-</span>{{l.title}}</a>
							</li>
							{%- else -%}
							<li class="level-2 {%if l.active%}active{%endif%}" data-menu-root="{{ l.id }}">
								<a class="parent-child" href="{{l.url}}">
									<span>-</span>{{l.title}}
									<i>
										<svg class="icon icon--arrow-right" viewBox="0 0 8 12" role="presentation">
											<path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path>
										</svg>
									</i>								
								</a>
							</li>
							{%- endif -%}
							{%- endfor -%}
						</ul>
						{%- endif -%}
						{%- endfor -%}

						{%- for link in linklists[settings.ar_mainmenu_linkmobile].links -%}
						{%- if linklists[link.handle] == empty -%}
						{%- else -%}
						{%- for l in linklists[link.handle].links -%}
						{%- if linklists[l.handle].links.size > 0 -%}
						<ul class="mm-panel sub-child"  id="{{l.id}}">
							<li><a href="javascript:;"><i class="fa fa-angle-left" aria-hidden="true"></i>عودة</a></li>
							<li><a href="{{l.url}}"><b>See all "{{l.title}}"</b></a></li>		
							{%- for ll in linklists[l.handle].links -%}
							{%- if linklists[ll.handle].links == empty -%}
							<li>
								<a href="{{ ll.url }}"{% if ll.active %} class="current"{% endif %} title="{{ll.title}}"><span>-</span>{{ ll.title }}</a>
							</li>
							{%- else -%}
							<li class="level-3 {%if ll.active%}active{%endif%}" data-menu-root="{{ ll.id }}">
								<a class="parent-child" href="{{ll.url}}">
									<span>-</span>{{ll.title}}
									<i>
										<svg class="icon icon--arrow-right" viewBox="0 0 8 12" role="presentation">
											<path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path>
										</svg>
									</i>
								</a>
							</li>
							{%- endif -%}
							{%- endfor -%}
						</ul>
						{%- endif -%}
						{%- endfor -%}
						{%- endif -%}
						{%- endfor -%}

						{%- for link in linklists[settings.ar_mainmenu_linkmobile].links -%}
						{%- if linklists[link.handle] == empty -%}
						{%- else -%}
						{%- for l in linklists[link.handle].links -%}
						{%- if linklists[l.handle].links.size > 0 -%}
						{%- for ll in linklists[l.handle].links -%}
						{%- if linklists[ll.handle].links == empty -%}
						{%- else -%}
						<ul class="mm-panel sub-child-3"  id="{{ll.id}}">
							<li><a href="javascript:;"><i class="fa fa-angle-left" aria-hidden="true"></i>عودة</a></li>
							<li><a href="{{ll.url}}"><b>See all "{{ll.title}}"</b></a></li>		
							{%- for l3 in linklists[ll.handle].links -%}
							<li class="level-3 {%if l.active%}active{%endif%}">
								<a class="parent-child" href="{{l3.url}}"><span>-</span>{{l3.title}}</a>
							</li>
							{%- endfor -%}
						</ul>
						{%- endif -%}
						{%- endfor -%}
						{%- endif -%}

						{%- endfor -%}
						{%- endif -%}
						{%- endfor -%}
					</div>
				</div>
			</nav>	
		</div>
	</div>
</div>