<div class="site-cart">
	<div class="cart-ttbold"><p class="ttbold">Giỏ hàng</p></div>
	<div class="cart-view clearfix">
		<div class="cart-view-scroll">
			<table id="clone-item-cart" class="table-clone-cart">
				<tr class="item_2 hidden">
					<td class="img"><a href="" title=""><img src="" alt="" /></a></td>
					<td>
						<p class="pro-title">	
							<a class="pro-title-view" href="" title=""></a>
							<span class="variant"></span>
						</p>
						<div class="mini-cart_quantity">
							<div class="pro-quantity-view"><span class="qty-value"></span></div>					
							<div class="pro-price-view"></div>
						</div>
						<div class="remove_link remove-cart"></div>	
					</td>
				</tr>   
			</table>
			<table id="cart-view">
				{% if cart.item_count > 0 %}
				{% for item in cart.items %}
				<tr class="item_2 ">
					<td class="img">
						<a href="{{ item.product.url }}">
							<img src="{% if item.variant.image == empty %} {{ item | img_url: 'small' }} {% else%} {{ item.variant.image | product_img_url : 'small'}}  {% endif %}" alt="{{ item.title }}" />
						</a>
					</td>
					<td>
						<p class="pro-title">	
							<a class="pro-title-view" href="{{ item.product.url }}" title="{{ item.title }}">{{ item.title }}</a>
							<span class="variant">
								{% unless item.variant.title contains 'Default Title' %}
								{{ item.variant.title }}
								{% endunless %}		
							</span>	
						</p>
						<div class="mini-cart_quantity">
							<div class="pro-quantity-view">
								<span class="qty-value">{{ item.quantity }}</span>
							</div>
							<div class="pro-price-view">{{ item.price | money }}</div>
						</div>
						<div class="remove_link remove-cart">
							<a href='javascript:void(0);' onclick='deleteCart({{forloop.index}})' >
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"> <g><path d="M500,442.7L79.3,22.6C63.4,6.7,37.7,6.7,21.9,22.5C6.1,38.3,6.1,64,22,79.9L442.6,500L22,920.1C6,936,6.1,961.6,21.9,977.5c15.8,15.8,41.6,15.8,57.4-0.1L500,557.3l420.7,420.1c16,15.9,41.6,15.9,57.4,0.1c15.8-15.8,15.8-41.5-0.1-57.4L557.4,500L978,79.9c16-15.9,15.9-41.5,0.1-57.4c-15.8-15.8-41.6-15.8-57.4,0.1L500,442.7L500,442.7z"/></g> </svg>
							</a>
						</div>				
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr class="item-cart_empty">
					<td>			
						<div class="svgico-mini-cart">
							<svg width="81" height="70" viewBox="0 0 81 70"><g transform="translate(0 2)" stroke-width="4" stroke="#1e2d7d" fill="none" fill-rule="evenodd"><circle stroke-linecap="square" cx="34" cy="60" r="6"></circle><circle stroke-linecap="square" cx="67" cy="60" r="6"></circle><path d="M22.9360352 15h54.8070373l-4.3391876 30H30.3387146L19.6676025 0H.99560547"></path></g></svg>
						</div>					
						Hiện chưa có sản phẩm					
					</td>								
				</tr>
				{% endif %}
			</table>
		</div>
		<div class="line"></div>
		<div class="cart-view-total">
			<table class="table-total">
				<tr>
					<td class="text-left">TỔNG TIỀN:</td>
					<td class="text-right" id="total-view-cart">{{cart.total_price | money}}</td>
				</tr>
				<tr>
					<td><a href="/cart" class="linktocart button dark">Xem giỏ hàng</a></td>
					<td><a href="/checkout" class="linktocheckout button dark">Thanh toán</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>


