<div class="clearfix content-product-list">
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm1.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">

					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm2.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm3.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm4.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<!-- sử dụng pull-left -->
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm1.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm1.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm3.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm3.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm4.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6 pro-loop pro-loop-lastHide">
		<div class="product-block product-resize">
			<a href="/adminv2/products_new" title="Sản phẩm mẫu">
				<div class="product-img image-resize">
					<div class="product-sale">
						<span>Sale</span>
					</div>
					<img class="img-loop" alt="Sản phẩm mẫu" src="{{'spm4.png' | asset_url}}">
				</div>
				<div class="product-detail clearfix">
					<div class="box-pro-detail">
						<h3 class="pro-name"><span class="overflowed">Tiêu đề sản phẩm mẫu</span></h3>
						<div class="box-pro-prices">	
							<p class="overflowed pro-price">199,000₫
								<span class="pro-price-del"><del class="compare-price">299,000₫</del></span>
							</p>
						</div>
					</div>
				</div>
			</a>
		</div>	
	</div>
</div>
