{% if settings.en_popup_contact_show %}
<div class="modal fade modal-popupContact {{settings.en_popup_contact_select}}" tabindex="-1" role="dialog" id="popup-contact">
	<div class="modal-dialog modal-dialog-centered" role="document">
		{% if settings.en_popup_contact_select == 'popupForm' %}
		<div class="modal-content lazyload">
			<div class="modal-wrapper-contact">
				<button type="button" class="close close-popup-contact" aria-label="Đóng">
					<span aria-hidden="true">
						<svg class="svg-next-icon svg-next-icon-size-24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><g><path d="M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892    L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999    c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998    c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z"/></g></svg>
					</span>
				</button>
				<h3 class="title-popup-contact">{{ settings.en_popup_contact_title }}</h3>
				<div class="message-popup-contact">
					<div class="title-adv-popup-contact">{{ settings.en_popup_contact_content }}</div>
					<ul class="list-adv-popup-contact">
						{% for i in (1..3) %}
						{% capture text %}en_popup_contact_description_{{ i }}{% endcapture %}
						{% unless settings[text] == '' %}
						<li>{{ settings[text] }}</li>
						{% endunless %}
						{% endfor %}
					</ul>
				</div>
				<div class="popup-form-customer">
					{% form 'customer' %}
					<div class="input-group">
						<input type="hidden" id="contact_tags" name="contact[tags]" value="Đăng kí nhận tin" />    
						<input required type="email"  name="contact[email]" id="contact_email" class="form-control form-email-popup-contact"  placeholder="Nhập email của bạn"  aria-label="contact_email"/>
						<button type="submit" class="input-group-addon button dark btn-reg-popup-contact">Register</button>
					</div>
					<div class="sitebox-recaptcha hidden" >
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>	
					{% if form.posted_successfully? %}<p id="success_customer" class="hidden popup-form-success success feedback accent-text">Cám ơn bạn đã đăng ký email theo dõi!</p>{% endif %}
					{% if form.errors %}
					<div class="hidden error-box popup-form-error" id="error_customer">
						{% for field in form.errors %}
						{{ field }} {{ form.errors.messages[field] }}
						{% endfor %} 
					</div>
					{% endif %}
					{% endform%}
					<div class="succes-popup"></div>		
				</div>
			</div>
		</div>
		{% else %}
		<div class="modal-content">
			<div class="modal-wrapper-contact">			
				<button type="button" class="close close-popup-contact" aria-label="Đóng">
					<span aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><g><path d="M294.111,256.001L504.109,46.003c10.523-10.524,10.523-27.586,0-38.109c-10.524-10.524-27.587-10.524-38.11,0L256,217.892    L46.002,7.894c-10.524-10.524-27.586-10.524-38.109,0s-10.524,27.586,0,38.109l209.998,209.998L7.893,465.999    c-10.524,10.524-10.524,27.586,0,38.109c10.524,10.524,27.586,10.523,38.109,0L256,294.11l209.997,209.998    c10.524,10.524,27.587,10.523,38.11,0c10.523-10.524,10.523-27.586,0-38.109L294.111,256.001z"/></g></svg>
					</span>
				</button>
				<a class="linkbanner-popup-contact"  href="{{settings.en_popup_contact_link}}" title="{{settings.en_popup_contact_alt}}">
					<img class="lazyload" data-src="{{settings.en_popup_contact_banner}}"
							 data-src="{{settings.en_popup_contact_banner}}"
							 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
							 alt="{{settings.en_popup_contact_alt}}"> 
				</a>
			</div> 
		</div>
		{% endif %}
	</div>
</div>
{% endif %}
