
<section class="panel panel-resources">
		<div class="inner">
			<div class="list">
				<div class="item">
					<div class="img bg" style="background-image: url({{settings.en_block_home_category1}});"> <span class="overlay">&nbsp;</span></div>
					<div class="des">
						<p>{{settings.en_block_home_category1_subtitle}}</p>
						<h2>{{settings.en_block_home_category1_title}}</h2>
						<a href="{{settings.en_block_home_category1_link}}" class="btn btn-link btn-white">{{settings.en_block_home_category1_button}}</a>
					</div>
				</div>
				<div class="item">
					<div class="img bg" style="background-image: url({{settings.en_block_home_category2}});"> <span class="overlay">&nbsp;</span></div>
					<div class="des">
						<p>{{settings.en_block_home_category2_subtitle}}</p>
						<h2>{{settings.en_block_home_category2_title}}</h2>
						<a href="{{settings.en_block_home_category2_link}}" class="btn btn-link btn-white">{{settings.en_block_home_category2_button}}</a>
					
					</div>
				</div>
			</div>
		</div>
	</section>