{%layout 'en'%}
<div  class="layout-pageContact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 box-heading-contact">
				{% if settings.en_show_google_maps and settings.en_google_maps_code != blank %}
				<div class="box-map">
					{{ settings.en_google_maps_code }}
				</div>
				{% endif %}

			</div>
			<div class="col-md-6 col-sm-12 col-xs-12  wrapbox-content-page-contact">
				<div class="header-page-contact clearfix">
					<h1>{{ page.title }}</h1>
				</div>
				<div class="box-info-contact">
					<ul class="list-info">
						<li>
							<p>Address</p>
							<p><strong>{{settings.en_footer_address}}</strong></p>
						</li>
						<li>
							<p>Email </p>
							<p><strong>{{settings.en_footer_email}}</strong></p>
						</li>
						<li>
							<p>Phone number</p>
							<p><strong>{{settings.en_footer_phone}}</strong></p>
						</li>
						<li>
							<p>Working time</p>
							<p><strong>{{settings.en_footer_time}}</strong></p>
						</li>
					</ul>
				</div>
				<div class="box-send-contact">
					<h2>Send us questions</h2>
					<div id="col-left contactFormWrapper">
						{% form 'contact' %}
						{% if form.posted_successfully? %}
						<div class="alert alert-success">
							Cám ơn bạn đã liên hệ! Chúng tôi sẽ trả lời ngay khi có thể
						</div>
						{% endif %}
						<div class="contact-form">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="input-group">
										<input required type="text" name="contact[name]" class="form-control" placeholder="Your name" aria-describedby="basic-addon1">
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="input-group">
										<input required type="text" name="contact[email]" class="form-control" placeholder="Email " aria-describedby="basic-addon1">
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="input-group">
										<input pattern="[0-9]{10,12}" required type="text" name="contact[phone]" class="form-control" placeholder="Phone number" aria-describedby="basic-addon1">
									</div>
								</div>
								<div class="col-sm-12 col-xs-12">
									<div class="input-group">
										<textarea required name="contact[body]" placeholder="Message"></textarea>
										<div class="sitebox-recaptcha" >
											This site is protected by reCAPTCHA and the Google
											<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
											and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<button class="button dark">Submit</button>
								</div>
							</div>
						</div>
						{% endform %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
